{{$node := json (getv "/node/[% node.name %]") -}}
{{range $type := $node.services -}}
{{range $service := ls (printf "/%s" $type) -}}
{{if (printf "/%s/%s/meta_data" $type $service) | exists}}
	{{- $meta_data := json (getv (printf "/%s/%s/meta_data" $type $service))}}
# {{$type}}: {{$service}}
	{{- range $key, $value := $meta_data.env}}
{{ $meta_data.env_prefix }}_{{ $key }}={{ $value }}
	{{- end}}
{{end -}}
{{end -}}
{{end -}}