#!/bin/bash
CFG_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
# For now we use this as nrof nodes on which to but mongos instances
REDIS_USER="redis"

# These are the apps being run
MODULES="app-dynomite-redis"

runPlay() {
  # Run traditional install
  runModulesInstall "$MODULES"
}
